a.btn {
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn {
	padding: 7px 15px;
	border: 0;
	border-radius: 3px;
	background-color: var(--primary);
	color: var(--light);
	cursor: pointer;
	font-size: 1.5rem;
	height: auto;
	&:active {
		background-color: var(--secondary);
	}
	&-danger {
		background-color: var(--danger);
		color: var(--light);
		&:active {
			background-color: var(--danger-secondary);
		}
	}
	&-blue {
		background-color: var(--blue);
		color: var(--light);
		&:active {
			background-color: var(--blue-secondary);
		}
	}
	&-sm {
		font-size: 1rem;
		padding: 5px 10px;
	}
	&-lg {
		font-size: 2rem;
		padding: 10px 20px;
	}
}
.popUp {
	display: flex;
	justify-content: center;
	div {
		position: absolute;
		top: 70px;
		display: flex;
		align-items: center;
		border: 1px solid black;
		border-radius: 10px;
		padding: 15px;
		gap: 10px;
		animation: PopUp-show 0.4s;
	}
	&-success {
		background-color: var(--success);
	}
	&-danger {
		background-color: var(--danger);
	}
	&-ico {
		height: 25px;
		width: 25px;
		border: 1px solid black;
		border-radius: 13px;
		padding: 3px;
		svg {
			height: 100%;
			width: 100%;
		}
	}
	&-close {
		height: 25px;
		width: 25px;
		padding: 4px;
		cursor: pointer;
		svg {
			height: 100%;
			width: 100%;
		}
		&:hover {
			border: 1px solid black;
			border-radius: 13px;
			padding: 3px;
			svg {
				color: var(--light);
			}
		}
		&:active {
			border: 1px solid var(--light);
		}
	}
	&.remove {
		animation: PopUp-remove 0.2s;
	}
	@keyframes PopUp-show {
		from {
			opacity: 0;
			top: 50px;
		}
		to {
			opacity: 100%;
			top: 70px;
		}
	}
	@keyframes PopUp-remove {
		to {
			opacity: 0;
		}
	}
}
.modal {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	background: rgb(0, 0, 0, 0.75);
	height: 100%;
	width: 100%;
	.modal-body {
		width: 500px;
		max-width: 95%;
		height: 250px;
		display: grid;
		grid:
			"header" auto
			"content" 1fr
			"footer" auto;
		background: var(--light);
		border-radius: 5px;
		border: 1px solid black;
		.modal-title {
			grid-area: header;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px;
			border-radius: 5px 5px 0 0;
			border-bottom: 1px solid black;
			.modal-title-text {
				font-size: 2rem;
				font-weight: 700;
			}
			.modal-close {
				cursor: pointer;
				border: 1px solid var(--danger);
				color: var(--danger);
				border-radius: 5px;
				height: 30px;
				width: 30px;
				background-color: var(--light);
				&:active {
					border: var(--danger-secondary);
					background-color: var(--danger-secondary);
					color: var(--light);
				}
				svg {
					height: 100%;
					width: 100%;
				}
			}
		}
		.modal-content {
			grid-area: content;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px;
			font-size: 2rem;
		}
		.modal-footer {
			grid-area: footer;
			display: flex;
			justify-content: end;
			gap: 10px;
			padding: 10px;
			border-radius: 0 0 5px 5px;
			.modal-cancel {
				cursor: pointer;
				font-size: 1.5rem;
				background-color: var(--blue);
				padding: 10px;
				width: 100px;
				border: 0;
				color: white;
				border-radius: 5px;
				&:active {
					background-color: var(--blue-secondary);
				}
			}
			.modal-confirm {
				cursor: pointer;
				font-size: 1.5rem;
				width: 100px;
				background-color: var(--danger);
				padding: 10px;
				border: 0;
				color: var(--light);
				font-weight: 700;
				border-radius: 5px;
				&:active {
					background-color: var(--danger-secondary);
					color: var(--light);
				}
			}
		}
	}
	@include sm {
		.modal-body {
			.modal-footer {
				flex-direction: column;
				gap: 5px;
				.modal-cancel {
					width: 100%;
					height: 50px;
				}
				.modal-confirm {
					width: 100%;
					height: 50px;
				}
			}
		}
	}
}
